body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#734e40bf;
    font-size: 100%;
    margin: 0 auto;
    }


.cabecalho{
    background-image: url(img/cabecalho2.png);
    background-size: cover;
    height: 500px;
    padding: 1px;
    background-attachment: fixed;

}

.div_cabecalho{
    margin: 100px auto 0 auto;
    width: 80%;
    text-align: center;
    color: #fff;
}

.div_cabecalho h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, .3);
}

.div_cabecalho a{
    background-color: #f3ebf5;
    color: #424659;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.div_cabecalho a:hover{
    background-color: #424659;
    color: #f3ebf5;
}

.cabecalho nav ul{
    margin: 25px 40px 0 0;
    text-align: right;
}

.cabecalho nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.cabecalho nav a{
    color: #fff;
    text-decoration: none;
    background-color:#424659;
    padding: 5px;
    border-radius: 5px;
}

.cabecalho nav a:hover{
    background-color: #fff;
    text-decoration: none;
    color: #424659;
    padding: 5px;
    border-radius: 5px;
}

main{
    font-size: 15px;;
}

.conteudo{
    padding: 35px;
    background-color:#424659;
    width: 90%;
    height: 170px;
    margin: 35px ;
    color: #eae8e8;   
    
}
.conteudo header h2{
    margin: 0;
    padding: 20px;
    background-color: #eae8e8;
    color: #424659;
}


.conteudo header{
    margin: 0;
    height: 50%;
    

}
.icone{
    max-width: 100px;
    float: left;
    margin: 10px;
    border-radius: 50%;
}

.icone:hover{
    transform: scale(1.4);
}

footer{
    padding: 10px;
    background-color: #fff;
    margin: 0 0;
    font-size: 12px;
    text-align: center;
}

